{% extends '::layout.html.twig' %}

{% block body %}
    {{ render(controller('AppBundle:Category:list')) }}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
