{% extends '::layout.html.twig' %}

{% block body %}
    {{ render(controller('AppBundle:Category:list')) }}
    <div style="margin: 10px;">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
