# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     dbLaterPaySymfony2DemoApp
    database_user:     usrLaterPaySymfo
    database_password: 550abe2b350dc
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            f561aaf6ef0bf14d4208bb46a4ccb3ad

    app_host:          http://laterpay-symfony2-demoapp.com
